@charset "utf-8";
/* CSS Document */
.title{
	padding: 1rem;
	background-color: #7501FD;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	text-align: center;
}

.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6800e1;
  font-family: 'Lato', sans-serif;
}
.menu-item {
  float: left;
}

.menu-item a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu-item a:hover{
  background-color: white;
  color: #6800e1;
}
